# Backend
backend/target/
backend/src/main/resources/application-local.yml
uploads/
# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/package-lock.json
frontend/package.json
# IDE, hệ điều hành
.idea/
*.iml
.DS_Store
Thumbs.db
